[submodule "libraries/bento4"]
	path = libraries/bento4
	url = git@github.com:axiomatic-systems/Bento4.git
	ignore = all
[submodule "libraries/ffms2"]
	path = libraries/ffms2
	url = git@github.com:FFMS/ffms2.git
	ignore = all
